*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1, h2{
    text-transform: capitalize;
    font-weight: 200;
}
li, a, a:visited{
    color: black;
    list-style-type: none;
    text-decoration: none;
}
