*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-transform: capitalize;
  font-weight: 200;
}

li, a, a:visited {
  color: black;
  list-style-type: none;
  text-decoration: none;
}

.btn {
  padding: 17px 40px;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid rgb(226, 226, 226);
  background: rgb(250, 250, 250);
  letter-spacing: 2px;
  font-weight: 200;
  transition: 0.2s;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: rgb(127, 191, 255);
  border: 1px solid skyblue;
}

.header-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.left-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 90%;
  margin: 0 auto;
}
.left h1 {
  font-size: 5rem;
  padding: 20px 0;
  font-weight: 100;
}
.left p {
  padding: 30px 0;
  line-height: 2rem;
  font-size: 1.1rem;
  font-weight: 100;
}

.right-header {
  background: url(../../../assets/img/banner.jpg) right/cover;
}

.magna-container {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 50vh;
}

.left-img-magna {
  background: url(../../../assets/img/img-left.jpg) center/cover;
}

.right-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(226, 226, 226);
  border-bottom: 1px solid rgb(226, 226, 226);
}

.txt {
  width: 90%;
  margin: 0 auto;
}
.txt h2 {
  font-size: 3rem;
  padding: 20px 0;
}
.txt p {
  padding: 30px 0;
  line-height: 2rem;
  font-size: 1.1rem;
  font-weight: 100;
}

.tempus-container {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 50vh;
}

.left-txt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt {
  width: 90%;
  margin: 0 auto;
}

.right-img-tempus {
  background: url(../../../assets/img/img-right.jpg) center/cover;
}

.contact {
  text-align: center;
  padding: 60px 0;
}
.contact h2 {
  font-size: 3rem;
  margin: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 224px;
  grid-template-areas: "name email" "msg msg";
  gap: 10px;
  width: 85%;
  margin: 30px auto;
  max-width: 600px;
}
.form-grid #message {
  grid-area: msg;
}
.form-grid label {
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.form-grid textarea {
  resize: none;
  height: 180px;
}
.form-grid input[type=text], .form-grid textarea {
  width: 100%;
  margin: 20px 0 40px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  padding: 10px;
  transition: 0.3s ease;
}
.form-grid input[type=text]:focus, .form-grid textarea:focus {
  border: 1px solid skyblue;
}

footer {
  padding: 70px 0px 90px;
  position: relative;
}
footer::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 1px;
  background: rgb(198, 198, 198);
  left: 50%;
  top: 0;
  transform: translate(-50%);
}
footer ul {
  display: flex;
  justify-content: space-between;
  width: 33%;
  min-width: 300px;
  margin: 0px auto;
}
footer ul a {
  display: inline-block;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: 0.2s;
}
footer ul a:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: rgb(127, 191, 255);
  border: 1px solid skyblue;
  font-size: 1.2rem;
}

body {
  font-family: "Reem Kufi Ink", sans-serif;
  background: rgb(250, 250, 250);
  color: rgb(35, 35, 35);
}

@media screen and (max-width: 800px) {
  header {
    height: auto;
  }
  header .header-container {
    display: flex;
    flex-direction: column;
  }
  header .right-header {
    height: 50vh;
    margin-top: 30px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .container {
    padding: 15px;
    border: none;
  }
  section .magna-container {
    display: block;
    height: auto;
  }
  section .tempus-container {
    display: block;
    height: auto;
  }
  footer ul {
    min-width: 300px;
  }
  footer a {
    width: 10px;
    height: 10px;
    margin-left: 10px;
  }
  footer a i {
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=style.css.map */