@import "./settings/fondations";
@import "./utils/variables";
@import "./utils/mexins";
@import "./components/buttons";
@import "./layout/header";
@import "./layout/section1";
@import "./layout/section2";
@import "./layout/section3";
@import "./layout/footer";

body{
    font-family: 'Reem Kufi Ink', sans-serif;
    background: $bg-primary;
    color: $color-primary;
}