.btn{
    padding: 17px 40px;
    text-transform: uppercase;
    border-radius: 25px;
    border: 1px solid $color-secondary;
    background: $bg-primary;
    letter-spacing: 2px;
    font-weight: 200;
    transition: .2s;

    &:hover{
        @include hover;
    }
}